* {box-sizing: border-box;}
.wrapper {
	width: 800px;
	margin: 0 auto;
}

.item {
	/*border: 2px solid rgb(233,171,88);*/
	/*border-radius: 5px;*/
	/*padding: 1em;*/
	color: #d9480f;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0;
	grid-auto-rows: minmax(400px, auto);
}

.item:nth-child(1) {
	grid-column: 1/5;
	grid-row: 3;
	/*background-color: #ccc;*/
	z-index: 2;
	position: relative;
}

.fade-animation:nth-child(1),
.fade-animation:nth-child(2) {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ccc;
	z-index: -2;
}

.fade-animation:nth-child(1) {
	z-index: -1;
}

.fade-animation:nth-child(2) {
	left: unset;
	right: 0;
}

.fade-animation:nth-child(1)::before{
	content: '';
	position: absolute;
	top: 0px;
	right: -398px;
	border: 199px solid transparent;
	border-left-color: #ccc;
	transform: rotate(0);
}

.fade-animation:nth-child(2)::before {
	content: '';
	position: absolute;
	top: 0px;
	left: -1px;
	border: 199px solid transparent;
	border-left-color: #fff;
	transform: rotate(0deg);
}

.item:nth-child(2) {
	grid-column: 3/5;
	grid-row: 1;
	background-color: #ccc;
	position: relative;
	z-index: 1;
}


.item:nth-child(3) {
	grid-column: 1/3;
	grid-row: 4/7;
}

.item:nth-child(4) {
	grid-column: 1/5;
	grid-row: 3;
}

.item:nth-child(5) {
	grid-column: 1/2;
	grid-row: 7;
}

.item:nth-child(6) {
	grid-column: 4/5;
	grid-row: 7;
}

.text-content {
	padding: 5px;
}

.fade-amimation-2:nth-child(1)::before {
	content: '';
	position: absolute;
	top: 0px;
	left: -1px;
	border: 199px dotted transparent;
	border-left-color: #fff;
	transform: rotate(0deg);
}

.navigation {
   margin: 0 auto;
   position: relative;
   width: 960px;
   height: 40px;
   list-style: none;
   background-color: #2d2d2d;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
}
.navigation li { display: inline-block; }
.navigation li a {
   color: #bbb;
   font-size: 14px;
   display: block;
   float: left;
   line-height: 40px;
   padding: 0 10px;
   text-decoration: none;
   text-transform: uppercase;
}
.navigation li a:hover { color: white; }
li.current a{ color: white !important; }
#magic-line {
   position: absolute;
   bottom: -2px; left: 0;
   width: 100px; height: 2px;
   background: #fe4902;
}

*{
	margin: 0;
	padding: 0;
}

/*slidedoor*/

.banner {
	width: 900px;
	margin: auto;
}

.vk-slidedoor{
    position: relative;
    overflow: hidden;
    height: 188px;
}
.vk-slidedoor .slidedoor-wrap{
    position: relative;
}
.vk-slidedoor dl{
    position: absolute;
    height: 188px;
    border: solid thin #ccc;
    background-color: #fff;
}
.vk-slidedoor dt{
    float: left;
    width: 28px;
    height: 188px;
    word-wrap: break-word;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
}
.vk-slidedoor dd{
    float: left;
    width: 392px;
    height: 188px;
    position: relative;
    padding-left: 1px;
}
.vk-slidedoor dd img{
    width: 100%;
    height: 100%;
}
.vk-slidedoor .detail{
    position: absolute;
    bottom: 6px; right: 6px;
    width: 111px; height:  26px;
    color: #fff;
    background-color: rgb(0,0,0,0.5);
    padding: 5px;
}

/*end slidedoor*/